 
<div class="indigo darken-4 a54">
      <a href="https://quesalio.com/quesalionew/" class="modal-close waves-effect waves-green btn-flat"><i class="large material-icons a55">arrow_back</i>  </a>
    <span class="a56">RANKING JUGADORES</span>
    </div>





<div class="center">
  

        <!-- Modal Trigger -->




<div class="row">
<div class="col s12">


<div class="a103">  
 
  <div class="row">
          <div class="col s12">
            <p class="a93 green-text">🏆 TOP 15</p>
            <table class="centered">
              

              <tbody>
                <tr class="a105">
                  <td>1 <img src="https://pbs.twimg.com/profile_images/1118064149/teto_400x400.jpg" alt="" class="b110"></td>
                  <td>El teto medina</td>
                  <td class="a104">3600 <img src="./img/monedas.png" class="a51"></td>
                </tr>
                <tr>
                  <td>2 <img src="https://www.fundacionkonex.org/custom/web/data/imagenes/repositorio/2017/05/22/13018/201705220352069d9c99a105ec0c51c5a4e4fba8aea902.jpg" alt="" class="b110"></td>
                  <td>Walter</td>
                  <td class="a104">10 <img src="./img/monedas.png" class="a51"></td>
                </tr>
                <tr>
                  <td>3 <img src="https://pbs.twimg.com/profile_images/1118064149/teto_400x400.jpg" alt="" class="b110"></td>
                  <td>Emiliano Sabatini</td>
                  <td class="a104">10 <img src="./img/monedas.png" class="a51"></td>
                </tr>

                  <tr>
                  <td>4 <img src="https://pbs.twimg.com/profile_images/1118064149/teto_400x400.jpg" alt="" class="b110" ></td>
                  <td>Florencia Raimondi</td>
                  <td class="a104">10 <img src="./img/monedas.png" class="a51"></td>
                </tr>
                
 

              </tbody>

            </table>
          </div>


  <!-- Modal Structure -->

  <div id="modal4" class="modal green a15" tabindex="0">
    <div class="modal-content green white-text">
    <div class="modal-footer green white-text a16">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat"><i class="large material-icons a17">arrow_back</i>  </a>
    </div>
      <img src="./img/plata.png" class="a18">
         <h4 class="a19">Tu saldo</h4>

<h4 class="a20">$0,00</h4>
          
      <p class="a21">Vincula tu cuenta de Mercado Pago para cobrar tu dinero.</p>
      <div class="input-field col s12">
          <input placeholder="Tu email de Mercado Pago" id="first_name" type="text" class="validate center a22">
         
        </div>
<a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light a23">COBRAR</a>  
    </div>
    
  </div>



      <div id="modal10" class="modal a34" tabindex="0">
    <div class="modal-content indigo darken-4">
    <div class="row">
 <div class=" white-text col s4 center"><a class="waves-effect waves-light btn modal-trigger a35" href="#modal4">$0,00<img src="./img/plata.png" class="a36"></a></div>
  <div class=" white-text col s4 center"><a class="waves-effect waves-light btn modal-trigger a37" href="#modal5">04:32:32<img src="https://image.flaticon.com/icons/svg/2476/2476197.svg" class="a38"></a></div>
 <div class=" white-text col s4 center"><a class="waves-effect waves-light btn modal-trigger a39" href="#modal3">100<img src="./img/monedas.png" class="a40"></a></div>
  </div><div class="modal-footer indigo darken-4 a41">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat"><i class="large material-icons a42">arrow_back</i>  </a>
    <span class="a43">Jugadas al 32</span>
    </div>








    </div>
    
  </div>


    

  

    <div id="modal3" class="modal orange a34" tabindex="0">
    <div class="modal-content orange white-text">
    <div class="modal-footer orange white-text a65">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat"><i class="large material-icons a66">arrow_back</i>  </a>
    </div>
      <img src="./img/monedas.png" class="a67">
         <h4>Tu crédito</h4>
     <h4 class="a68">100</h4>
          
      <p>Plan Gratuito</p>
      <p>100 Créditos diarios</p>    
      <p class="a99">¿Querés ser PREMIUM?</p>
<p class="a98">2750 Créditos diaros durante un mes - $1499</p>
<p class="a98">1250 Créditos diaros durante un mes - $749</p>
<p class="a98">550 Créditos diaros durante un mes - $399</p>
<p class="a98">175 Créditos diaros durante un mes - $149</p>
    </div>
    
  </div>




    </div>
  </div>
