  <footer class="page-footer green">
    <div class="container">
      <div class="row center">
        <div class="col l6 s12 center">
          <h5 class="white-text">¿Qué Salió?</h5>
         <p class="grey-text text-lighten-4">En caso de discrepancia entre nuestros datos y el extracto oficial tendrá validez este último. Los nombres de juegos y productos aquí mencionados pueden ser marcas registradas de sus respectivos propietarios.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">¡Bajate la App!</h5>
          <p><img src="https://quesalio.com/img/promoappstore.png" alt=""></p>
        </div>

      </div>
    </div>
    <div class="footer-copyright center">
      <div class="container">
      QueSalio.com
      </div>
    </div>
  </footer>